@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewData["Title"] = "Login History";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Login History</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Login Time</th>
                                <th>Logout Time</th>
                                <th>IP Address</th>
                                <th>Device</th>
                                <th>Browser</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jan 25, 2024 10:30:00</td>
                                <td>Jan 25, 2024 12:45:00</td>
                                <td>192.168.1.100</td>
                                <td>Desktop</td>
                                <td>Chrome 120.0</td>
                                <td><span class="badge bg-success">Success</span></td>
                            </tr>
                            <tr>
                                <td>Jan 24, 2024 15:20:00</td>
                                <td>Jan 24, 2024 17:30:00</td>
                                <td>192.168.1.100</td>
                                <td>Desktop</td>
                                <td>Chrome 120.0</td>
                                <td><span class="badge bg-success">Success</span></td>
                            </tr>
                            <tr>
                                <td>Jan 23, 2024 09:15:00</td>
                                <td>Jan 23, 2024 11:45:00</td>
                                <td>192.168.1.100</td>
                                <td>Desktop</td>
                                <td>Chrome 120.0</td>
                                <td><span class="badge bg-success">Success</span></td>
                            </tr>
                            <tr>
                                <td>Jan 22, 2024 14:30:00</td>
                                <td>Jan 22, 2024 16:20:00</td>
                                <td>192.168.1.100</td>
                                <td>Desktop</td>
                                <td>Chrome 120.0</td>
                                <td><span class="badge bg-success">Success</span></td>
                            </tr>
                            <tr>
                                <td>Jan 21, 2024 08:45:00</td>
                                <td>Jan 21, 2024 10:30:00</td>
                                <td>192.168.1.100</td>
                                <td>Desktop</td>
                                <td>Chrome 120.0</td>
                                <td><span class="badge bg-success">Success</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
